.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 37, 57, 0.7);
    z-index: 0;
}

.content {
    margin-left: 200px;
    margin-right: 200px;
    z-index: 1;
    text-align: center;
}

.content h1 {
    font-size: 45px;
    margin-bottom: 25px;
}

.content p {
    font-size: 16px;
    margin-bottom: 25px;
}

.home-page-custom-footer {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 66px;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Адаптивность */
@media (max-width: 1024px) {
    .content {
        margin-left: 50px;
        margin-right: 50px;
    }

    .content h1 {
        font-size: 35px; /* Уменьшаем размер заголовка */
    }

    .content p {
        font-size: 14px; /* Уменьшаем размер текста */
    }
}

@media (max-width: 768px) {
    .content h1 {
        font-size: 28px; /* Еще меньше заголовок для мобильных */
    }

    .content p {
        font-size: 12px; /* Уменьшаем текст на мобильных */
    }
}

@media (max-width: 480px) {
    .content h1 {
        font-size: 22px; /* Меньший размер заголовка для маленьких экранов */
    }

    .content p {
        font-size: 12px; /* Меньший текст */
    }
}
