.custom-container {
    font-family: Arial, sans-serif;
    padding-top: 66px;
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line {
    display: none;
}

.head .crumbs {
    flex-shrink: 0;
}

.title {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%); 
    margin: 0;
    text-align: center; 
}

.orders-button {
    position: relative;
    margin-left: auto;
}

.disabled {
    opacity: 0.5;
    pointer-events: none; /* Отключает любые взаимодействия с элементом */
  }
  

  .badge {
    position: absolute;
    right: 5px;
    top: 3px;
    background-color: #000000;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    display: inline-block;
    text-align: center;
    min-width: 20px;
}
  

  .truck-bg {
    height: 40px;
    width: 50px;
    border-radius: 4px;
    position: relative; /* Для корректного отображения badge */
  }

.truck-icon {
  width: 40px; /* Задайте нужную ширину */
  height: auto; /* Сохраняет пропорции */
  max-height: 40px; /* Ограничивает максимальную высоту */
  object-fit: contain; /* Гарантирует правильное отображение */
}

.header-truck {
    text-align: center;
}

.parts-data {
    min-height: 83.3vh; 
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
}

.name-input {
    display: flex;
    justify-content: flex-start; /* Перемещает поле поиска влево */
}


.data h2 {
    text-align: center;
    margin-bottom: 0px;
}

.containerLoading {
    filter: blur(8px);
}

.body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1150px) {
    .parts-data {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (max-width: 770px) {
    .head {
        align-items: flex-start;
        flex-direction: column;
    }

    .crumbs {
        margin-bottom: -10px;
    }

    .line {
        display: block;
        width: 100%;
    }

    .line hr {
        width: 100%;
    }

    .line hr{
        display: block;
    }

    .title {
        position: static;
        transform: none;
        margin-bottom: 10px;
    }

    .header-truck {
        display: flex;
        justify-content: space-between;
    }
    .truck {
        position: relative;
        display: block;
        margin-bottom: 10px;
    }
    .truck-bg {
        height: 40px;
        width: 50px;
        background-color: #212539;
        border-radius: 4px;
    }
    .truck-icon {
        height: 100%;
        object-fit: cover;
    }
    .shipment button,
    .shipment .pill {
        display: none;
    }
}
@media (max-width: 675px) {
    .parts-data {
        padding-left: 30px;
        padding-right: 30px;
    }
}