header {
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    text-decoration: none;
}

.nav-link {
    text-decoration: none; /* Убираем подчеркивание */
    color: white; /* Цвет текста */
}
.nav-links .nav-link {
    margin-right: 10px; /* Отступ между кнопками */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
